*{
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 100%;
}
